{% extends 'base.html' %}

{% block title %} Cart {% endblock title %}

{% block content %}

{% include 'partials/_single-page-header.html' %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        <script>
            notEnoughWeight({{ error }});
        </script>
    </div>
{% endif %}

<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Weight/Kg</th>
                    <th scope="col">Apply</th>
                    <th scope="col">Total</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="{{ item.product.image.url }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4"><a href="{% url 'product_view' item.product.slug %}">{{item.product.name}}</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">{{item.product.price}} $</p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 140px;" data-min-weight="{{ item.product.min_weight }}">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-minus rounded-circle bg-light border" onclick="decreaseWeight({{item.product.id}})">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" id="pack_weight_{{ item.product.id }}" class="form-control form-control-sm text-center border-0" value="{{ item.pack_weight }}" readonly>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-plus rounded-circle bg-light border" onclick="increaseWeight({{item.product.id}})">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form method="POST" action="." data-product-id="{{ item.product.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                    <input type="hidden" name="action" value="update">
                                    <input type="hidden" id="new_weight_{{ item.product.id }}" name="new_weight">
                                    <button type="button" class="btn btn-md rounded-circle bg-light border mt-4" data-toggle="tooltip" title="Apply new weight" onclick="updateWeight({{item.product.id}})">
                                        <i class="fa fa-check text-success"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">{{item.calculate_total_price}} $</p>
                            </td>
                            <td>
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                    <input type="hidden" name="action" value="delete">
                                    <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" data-toggle="tooltip" title="Delete Item">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}

                    <script>
                        function notEnoughWeight(errorMsg) {
                            alert(errorMsg);
                        }
                        function decreaseWeight(productId) {
                            const weightInput = document.getElementById(`pack_weight_${productId}`);
                            let currentWeight = parseFloat(weightInput.value);
                            const minWeight = parseFloat(weightInput.closest('.quantity').getAttribute('data-min-weight'));
                            if (currentWeight > minWeight) {
                                currentWeight -= minWeight;
                                weightInput.value = currentWeight.toFixed(2);
                            }
                        }
            
                        function increaseWeight(productId) {
                            const weightInput = document.getElementById(`pack_weight_${productId}`);
                            const minWeight = parseFloat(weightInput.closest('.quantity').getAttribute('data-min-weight'));
                            let currentWeight = parseFloat(weightInput.value);
                            currentWeight += minWeight;
                            weightInput.value = currentWeight.toFixed(2);
                        }

                        function updateWeight(productId) {
                            const weightInput = document.getElementById(`pack_weight_${productId}`).value;
                            document.getElementById(`new_weight_${productId}`).value = weightInput;
                            document.querySelector(`form[action="."][data-product-id="${productId}"]`).submit();
                        }
                    </script>
                </tbody>
            </table>
        </div>
        <div class="mt-5">
            <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
        </div>
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Total Weight: {{total_weight}} kg</h1>
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Subtotal:</h5>
                            <p class="mb-0">${{subtotal}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Shipping</h5>
                            <div class="">
                                <p class="mb-0">Flat rate: ${{shipping_cost}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4">${{total_cost}}</p>
                    </div>
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Proceed Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->

{% endblock content %}