{% extends 'base.html' %}
{% load static %}

{% block title %} Internal Server Error {% endblock title %}

{% block content %}
    {% include 'partials/_single-page-header.html' %}
    <!-- 500 Start -->
    <div class="container-fluid py-5">
        <div class="container py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-circle display-1 text-danger"></i>
                    <h1 class="display-1">500</h1>
                    <h1 class="mb-4">Internal Server Error</h1>
                    <p class="mb-4">We're sorry, but something went wrong on our server. Please try again later or go back to the home page.</p>
                    <a class="btn border-danger rounded-pill py-3 px-5" href="{% url 'home_view' %}">Go Back To Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 500 End -->

{% endblock content %}
