<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="{% block keywords %}{% endblock keywords %}" name="keywords">
        <meta content="{% block description %}{% endblock description %}" name="description">

        {% include 'imports/stylesheets.html' %}

        {% block stylesheets %}{% endblock stylesheets %}
    </head>
    <body>
        {% include 'partials/_spinner.html' %}
        {% include 'partials/_navbar.html' %}
        {% include 'partials/_modal-search.html' %}

        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}

        {% include 'partials/_footer.html' %}

        {% include 'partials/_back-to-top-btn.html' %}
        {% include 'imports/javascripts.html' %}

        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
