{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Testimonial</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active text-white"><a href="">Testimonial</a></li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Testimonial Start -->
    <div class="container-fluid testimonial py-5">
        <div class="container py-5">
            <div class="testimonial-header text-center">
                <h4 class="text-primary">Our Testimonial</h4>
                <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
            </div>
            
            <!-- Carousel wrapper (outside the loop) -->
            <div class="owl-carousel testimonial-carousel">
                <!-- Loop through testimonials -->
                {% for testimony in testimonials|slice:":4" %}
                    <div class="testimonial-item img-border-radius bg-light rounded p-4">
                        <div class="position-relative">
                            <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                            <div class="mb-4 pb-4 border-bottom border-secondary">
                                <p style="height: 96px; text-overflow: ellipsis; overflow: hidden; text-align: left;" class="mb-0">{{ testimony.testimonial_text }}</p>
                            </div>
                            <div class="d-flex align-items-center flex-nowrap">
                                <div class="bg-secondary rounded">
                                    {% if testimony.image %}
                                    <img src="{{ testimony.image }}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                                    {% else %}
                                    <img src="{% static 'img/testimonial-user.png' %}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                                    {% endif %}
                                </div>
                                <div class="ms-4 d-block">
                                    <h4 class="text-dark">{{ testimony.client_name }}</h4>
                                    <div class="d-flex pe-5">
                                        {{ testimony.stars|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Carousel wrapper ends -->
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Add New Testimonial Start -->
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-center mb-4">Add Your Testimonial</h2>
                <form action="#">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="border-bottom rounded">
                                <input type="text" class="form-control border-0 me-4" placeholder="Yur Name *">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="border-bottom rounded my-4">
                                <textarea name="" id="" class="form-control border-0" cols="30" rows="8" placeholder="Your Review *" spellcheck="false"></textarea>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="client_image">Your Image (optional)</label>
                            <input type="file" name="client_image" class="form-control-file" id="client_image">
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between py-3 mb-5">
                                <div class="d-flex align-items-center">
                                    <p class="mb-0 me-3">Please rate:</p>
                                    <div class="d-flex align-items-center" style="font-size: 12px;">
                                        <i class="fa fa-star text-muted"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <a href="#" class="btn border border-secondary text-primary rounded-pill px-4 py-3"> Post Comment</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add New Testimonial End -->

{% endblock %}
