<div class="col-lg-12">
    <div class="mb-3">
        <h4 class="mb-2">Price</h4>
        {% if range_input %}
            <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="50" value="{{ range_input }}" oninput="amount.value=rangeInput.value">
            <output id="amount" name="amount" min-velue="0" max-value="50" for="rangeInput">Products under {{ range_input }}$</output>
        {% else %}
        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="50" value="0" oninput="amount.value=rangeInput.value">
            <output id="amount" name="amount" min-velue="0" max-value="50" for="rangeInput">Not Selected</output>
        {% endif %}
    </div>
</div>